{% extends "base.twig" %}

{% block content %}

<h1>{% trans %}Select an account to continue{% endtrans %}</h1>

<p>{% trans %}Which account do you want to log into Mastodon with?{% endtrans %}</p>

<form action="{{ target }}" method="post" class="pure-form">
    {% for name, value in data -%}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
    {%- endfor %}

    {% for nickname in choices %}
        <p>
             <button type="submit" class="pure-button" name="proceed" value="{{nickname}}">@{{ nickname }}</button>
        </p>
    {% endfor %}

</form>
{% endblock %}

