{% set pagetitle = 'Select an account to continue'|trans %}

{% extends "base.twig" %}

{% block content %}

<div class="item">
<h1>{{ pagetitle }}</h1>

<p>{% trans %}Which account do you want to log into Mastodon with?{% endtrans %}</p>

<form action="{{ target }}" method="post" class="pure-form">
    {% for name, value in data -%}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
    {%- endfor %}

    <center>
    {% for choice in choices %}
        <button type="submit" style="float: inherit; padding: 20px; border-radius: 12px; font-size: 150%; display: inline-flex;
          align-items: center;  width: 90%; height: 60px; background-color: #eee; color: #333; " name="proceed" value="{{choice}}">
            {% if avatars[choice] is defined %}
            <img src="{{avatars[choice]}}" alt="" width="40" height="40" style="width: 40px; height: 40px; border-radius: 5px; margin-right: 10px; margin-left: -10px;">
            {% else %}
            <span style="width: 40px; height: 40px; margin-left: -10px; margin-right: 10px;"></span>
            {% endif %}
            @{{ choice }}
        </button>
    {% endfor %}
    </center>

    {% if personalnick === null %}
        <p><a href="{{ moduleURL('slurf/nickname', {'AuthState': AuthState}) }}">Register a personal Mastodon account.</a></p>
    {% endif %}

</form>
</div>
{% endblock %}

