{% set pagetitle = 'Please choose your public account name'|trans %}

{% extends "base.twig" %}

{% block preload %}
  <script src="{{ asset('slurf.js', 'slurf') }}"></script>
{% endblock %}

{% block content %}

<div class="item">
<h1>{% trans %}Welcome to Mastodon{% endtrans %}
<h2>{{ pagetitle }}</h2>

<p>{% trans %}To register with Mastodon you need to pick an account name. The account name is your public identity on the Mastodon platform and may contain letters, numbers and unsderscores. It may not be longer than thirty characters.{% endtrans %}</p>

<p><em>{% trans %}The account name can not be changed afterwards.{% endtrans %}</em></p>

<form action="{{ target }}" method="post" class="pure-form">
    {% for name, value in data -%}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
    {%- endfor %}

    {% if invalidNickname %}
        <div class="message-box message-box-error">{% trans %}This is not a valid account name. The nickname can contain letters, numbers and underscores and may not be longer than thirty characters.{% endtrans %}</div>
    {% elseif nickExists is defined and nickExists %}
        <div class="message-box message-box-error">{% trans %}The chosen account name is already taken. Please choose another one.{% endtrans %}</div>
    {% endif %}

    <div class="pure-control-group"><input type="text" oninput="checkAvailability(this.value);" size="40" maxlength="30" pattern="^[a-zA-Z0-9_]+$" minlength="2" class="edge" required name="nickname" placeholder="{% trans %}Your Mastodon account name{% endtrans %}" autofocus value="{{ desiredNick }}"></div>

    <p><input type="submit" name="proceed" id="proceedbutton" class="pure-button pure-button-red"
        value="{% trans %}Proceed{% endtrans %}"></p>

    <br><br>
    <p id="nickname-taken" style="display: none">🚫 {% trans %}This name is already taken.{% endtrans %}</p>
    <p id="nickname-free" style="display: none">✅ {% trans %}This name is available.{% endtrans %}</p>
    <p id="nickname-invalid" style="display: none">⚡ {% trans %}This name contains invalid characters.{% endtrans %}</p>
</form>
</div>
{% endblock %}

